header {
  position: relative; /* Cambiado de absolute a relative */
  width: 100%;
  background-color: #ADEFA0;
  font-family: Helvetica, Arial, sans-serif;
  padding: 10px; /* Ajuste de padding para la franja verde */
}

.encima-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 130px;
  z-index: 1;
}

.nombre-logo {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}


body {
  font-family: Helvetica, Arial, sans-serif;
}

body h1 {
  font-family: Helvetica, Arial, sans-serif;
  position: relative;
  top: 18%;
}

body .menu-circular {
  position: relative;
  width: 500px;
  height: 500px;
  left: 0;
  top: 20%;
  bottom: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  background-image: url("http://www.w3.org/2000/svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

body .menu-circular .opcion1,
body .menu-circular .opcion2,
body .menu-circular .opcion3,
body .menu-circular .opcion4,
body .menu-circular .opcion5,
body .menu-circular .opcion6,
body .menu-circular .opcion7,
body .menu-circular .opcion8,
body .menu-circular .opcion9 {
  text-decoration: none;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.8;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 100px;
  height: 100px;
  text-align: center;
  background-color: #48c26c;
  border: 1px solid #dddddd;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
}

body .menu-circular .opcion1 {
  left: 20%;
  top: 0;
  bottom: 55%;
  right: 0;
}

body .menu-circular .opcion2 {
  left: 70%;
  top: 0;
  bottom: 30%;
  right: 0;
}

body .menu-circular .opcion3 {
  left: 85%;
  top: 60%;
  bottom: 50%;
  right: 0;
}

body .menu-circular .opcion4 {
  left: 70%;
  top: 70%;
  bottom: 0;
  right: 0;
}

body .menu-circular .opcion5 {
  left: 20%;
  top: 95%;
  bottom: 0;
  right: 0;
}

body .menu-circular .opcion6 {
  left: 0;
  top: 65%;
  bottom: 0;
  right: 30%;
}